.date {
  font-size: 13px;
  line-height: 20px;
  color: #868E96;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;

  &_card {
    justify-content: left;
  }

    &__day {
      font-weight: bold;
      text-transform: uppercase;

    &_active {
      color: #3B82F6;
    }
  }

  &__text {
    position: relative;
    padding-right: 16px;

    &_active {
      color: #3B82F6;
    }
    &_link {
      &::after {
        position: absolute;
        content: "";
        width: 12px;
        height: 12px;
        background-image: url('../icons/video-icon.svg');
        right: 0;
        top: 4px;
      }
    }
  }

  &__category {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  &_left {
    justify-content: left;
  }

  &_time {
    font-weight: bold;
    color: #333333;
  }
}